psycopg2
aiogram
SQLAlchemy
aiofiles
aiohttp
aiosqlite
asgiref
asyncpg
psycopg
flask
psycopg-binary
psycopg-pool
pure-python-adb
requests~=2.32.3
django-cors-headers
sqlparse
dj_database_url
Django
gunicorn
pytz
APScheduler